<h1><%= @message %></h1>

<div data-controller='test'>
  <input data-test-target='inputField' type="text">

  <button data-action='click->test#sayGoodMorning'> Greet </button>

  <p data-test-target='output'></p>
  <p id='name'>Grace</p>
</div>
